@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("RobotoCondensed-LightItalic.ttf") format('truetype');
}
/* Normal */

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("RobotoCondensed-Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Breakpoints */
/* Clearfix */
/* Global */
body {
  font-family: 'Roboto';
    font-size: 15px;
  color: #777; }

p {
  line-height: 1.8; }

strong {
  font-weight: 500;
  color: #333; }

a {
  text-decoration: none;
  color: #5badf0; }

/* Heading */
header {
  height: 650px;
  background: #251d35 url("/static/images/background.png") no-repeat;
  background-size: 975px 617px;
  background-position: center;
  text-align: center; }
  header #login {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #dfdfe1;
    font-size: 14px; }
    header #login a {
      color: #03d79f;
      font-family: 'Roboto';
    font-size: 15px; }
      header #login a:hover {
        text-decoration: underline; }
  header .wrapper {
    padding-top: 160px; }
  header #founded {
    color: #03d79f;
    font-size: 20px;
    letter-spacing: 2px; }
  header h1 {
    color: #fff;
    font-weight: bold;
  font-family: 'Open Sans';
  font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 10px 0 40px 0; }
  header p {
    color: #dfdfe1;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
     padding : 20px; }
  header #read {
    color: #03d79f;
    text-transform: uppercase;
    font-family: 'Avenir LT W01_85 Heavy';
    font-size: 14px;
    display: inline-block;
    margin-bottom: 40px;
    letter-spacing: 1px; }
    header #read:hover {
      opacity: .8; }

.button {
  background: #03d79f;
  border-radius: 3px;
  padding: 20px 60px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-family: 'Roboto'; }
  .button:hover {
    background: #06c391; }

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

section.wrapper {
  margin-top: 50px; }
  section.wrapper .sidebar {
    vertical-align: top;
    border-top: 8px solid #251d35;
    width: 27%;
    display: inline-block;
    margin-right: 6%;
    margin-bottom: 20px;
    padding-top: 20px; }
    @media (max-width: 767px) {
      section.wrapper .sidebar {
        float: none;
        width: 100%;
        margin-right: 0; } }
    section.wrapper .sidebar h2 {
      font-family: 'Roboto';
      
      text-transform: uppercase;
      font-size: 24px;
      color: #251d35;
      line-height: 1.3; }
    section.wrapper .sidebar p {
      margin-top: 20px; }
  section.wrapper ul {
    vertical-align: top;
    width: 66%;
    display: inline-block; }
    @media (max-width: 767px) {
      section.wrapper ul {
        float: none;
        width: 100%; } }
    section.wrapper ul li {
      background: #2d2d2d;
      width: 150px;
	height:150px;
      float: left;
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 1%;
      margin-bottom: 1%;
      line-height: 0; }
section.wrapper ul li a {
	display:block;
	height:150px;
	with:150px;
	position: float;
}
      section.wrapper ul li:hover > a div {
        display: block; 
	background: #251d35;
		
}
        @media (max-width: 550px) {
          section.wrapper ul li:hover > div {
            display: none; } }

      section.wrapper ul li a div {
        pointer-events: none;
        position: absolute;
        /*background: rgba(27, 29, 52, 0.9);*/
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 15%;
        /*display: none;*/ 
}
        section.wrapper ul li div h3 {
          font-family: 'Roboto';
          color: #fff;
          font-size: 22px;
          line-height: 1.3; }
        section.wrapper ul li div span {
          display: inline-block;
          margin-top: 20px;
          line-height: 1.6;
          color: #d1d0d2; }
      section.wrapper ul li img {
        width: 100%; }

/* SVG Corrections */
svg path, polygon {
  fill: rgba(0, 0, 0, 0.5); }

svg path.lettering {
  fill: #e9e8ea; }

#dropbox:hover {
  background: #007EE5; }
  #dropbox:hover:hover polygon {
    fill: #fff; }

#uber:hover {
  background: #070716; }
  #uber:hover:hover path {
    fill: #fff; }

#salesforce:hover {
  background: #007EE5; }
  #salesforce:hover:hover path {
    fill: #fff; }
  #salesforce:hover:hover path.lettering {
    fill: #007EE5; }

#stripe:hover {
  background: #323b3e; }
  #stripe:hover:hover path {
    fill: #fff; }

#apple:hover {
  background: #656565; }
  #apple:hover:hover path {
    fill: #fff; }

#needwant:hover {
  background: #e32929; }
  #needwant:hover:hover path {
    fill: #fff; }

#bottom {
  background: #251d35;
  text-align: center;
  padding: 40px 0; }
  #bottom p {
    font-family: 'Roboto';
    font-size: 18px;
    color: #cfced1;
    margin-bottom: 20px; }
footer.wrapper {
  text-align: center;
  padding: 20px 0 30px 0; }
  footer.wrapper svg {
    width: 80px; }
    footer.wrapper svg path {
      fill: #E32929; }
  footer.wrapper p {
    font-family: 'Roboto';
    color: #bdbbbf; }
